{% extends "base.html" %}

{% block content %}

<h1> Balance </h1>
<div class="balance-container">
    <div class="total-container">
       {{ total }}$
    </div>
</div>
{% for t in transactions %}
<div class="transaction-card">
    <img src="{{ url_for('static', filename=logo[t.billing_entity]) }}" >
    <div class="transaction-info">
        <div>
            {{ t.billing_entity }}
        </div>
        <div>
            ${{ t.amount | abs }}
        </div>
        <div>
            {{ t.date }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
