<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Flask × Docker × Plaid</title>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if hide_navbar != True %}
    <ul class="nav-bar">
        <a class="button" href="{{ url_for('FXDXP.dashboard') }}">Dashboard</a>
        <a class="button" href="{{ url_for('FXDXP.show_balance') }}">Balance</a>
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
