{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('FXDXP.register') }}" method="POST">
    <div class="email">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div class="username">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="password">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Send</button>
</form>
{% endblock %}